/*******************************************************************************
 * style.scss
 *
 * This file shouldn't directly contain any SCSS code, instead it only serves to
 * combine the SCSS contained in other Sass partials through @import directives.
 *
 * BASE............Styling for common HTML and Drupal elements.
 * LAYOUT..........Styles for the page structure that contain components.
 * COMPONENTS......Components, their modifiers and sub-components.
 ******************************************************************************/
/*******************************************************************************
 * _utils.scss
 *
 * Sass offers come very useful features, these include variables functions and
 * mixins. Extensions such as Compass and Susy can also be used to provide extra
 * functions and mixins to be used throughout the theme. This file acts as a
 * single place for defining these things, which can then be accessed by
 * importing _utils.scss where required. The following should be defined in this
 * file:
 * - Custom Sass mixins for the theme.
 * - Custom Sass functions for the theme.
 * - Overriding the default variables provided by extensions such as Compass.
 * - Defining new variables for:
 *      - Colors.
 *      - Font sizes and families.
 *      - Layout and grid sizing.
 ******************************************************************************/
/*******************************************************************************
<<<<<<< HEAD
 * _base.scss
 *
 * Base styles define the default look for HTML and common Drupal elements.
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common Drupal elements such as form
 * items, collapsible fieldsets and messages should be included in this partial.
 *
 * The styleguide module (http://drupal.org/project/styleguide) gives you a good
 * overview of Drupal's common elements for styling. By setting a solid baseline
=======
 * _base.scss 

 * Base styles define the default look for HTML and common Drupal elements. 
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common Drupal elements such as form 
 * items, collapsible fieldsets and messages should be included in this partial.
 *
 * The styleguide module (http://drupal.org/project/styleguide) gives you a good
 * overview of Drupals common elements for styling. By setting a solid baseline
>>>>>>> sandbox/7.x-4.x
 * before adding any more specific customisations you ensure that as any new
 * features are added they will be correctly styled without any extra work.
 ******************************************************************************/
html {
  color: #4a4b48;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14px;
  /*  font-family: Enriqueta,georgia,serif;*/
  line-height: 1.4;
}

/* Links */
a {
  color: #541c15;
}

a:hover,
a:focus {
  color: #ef930f;
}

/* Page titles */
h1 {
  color: #35a0d2;
}

h2, h3 {
  color: #236685;
}

/* Tables */
table.table-dotted {
  margin-top: 15px;
}
table.table-dotted caption {
  padding-bottom: 8px;
  font-size: larger;
}
table.table-dotted th {
  font-weight: bold;
  border-bottom: 3px solid #236685;
  background: none;
}
table.table-dotted tr {
  border-bottom: 1px dotted #7c7a6e;
}
table.table-dotted td {
  padding: 5px 10px;
}

/*******************************************************************************
 * _layout.scss
 *
 * The layout of the major regions (usually, but not necessarily Drupal regions)
 * that components will be placed within. Layout styles for the theme's
 * components should not be placed here and should instead be kept with the
 * relevant SCSS for that component.
 ******************************************************************************/
header.l-header {
  height: 280px;
  background: url("/sites/all/themes/custom/boriana1/images/brown_background_small_2.jpg") no-repeat scroll left top transparent;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
}

footer.l-footer .footer-social {
  height: 150px;
  background: url("/sites/all/themes/custom/boriana1/images/yellow_background_small.jpg") no-repeat center top transparent;
}

footer.l-footer #block-block-4 {
  border-top: 8px solid #fee18f;
}

footer.l-footer .block-twitter-pull {
  font-size: 0.85em;
  border-top: 8px solid #ffd863;
}
footer.l-footer .block-twitter-pull .views-field-created-time {
  color: #7c7a6e;
}
footer.l-footer .block-twitter-pull li {
  list-style: none outside none;
  padding: 10px 0 10px 30px;
  margin: 0 0 0 -30px;
  background: url("/sites/all/themes/custom/boriana1/images/twitter_icons/32/6.png") no-repeat 0 center transparent;
}

.l-header,
.l-main,
.l-footer {
  *zoom: 1;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.l-header:after,
.l-main:after,
.l-footer:after {
  content: "";
  display: table;
  clear: both;
}

.page-node {
  /*  .l-region--sidebar-second {
      @include span-columns(0,6);
    }
    
  @include at-breakpoint($tablet-breakpoint) {
      .l-content {
        @include span-columns(6,8);
      }
      .l-region--sidebar-second {  @include span-columns(2,8); }
    }
  
    @include at-breakpoint($desk-breakpoint) {
      .l-content {
        @include span-columns(10,16);
      }
      .l-region--sidebar-second {  @include span-columns(4,16); }
    }*/
}

/*******************************************************************************
 * _components.scss
 *
 * Imports more partials that contain full components (modules in SMACSS), their
 * sub-components and modifiers.
 *
 * Components are discrete parts of your page that should sit within the regions
 * of your layouts. You should try to abstract your components as much as
 * possible to promote reuse throughout the theme. Components should be flexible
 * enough to respond to any width and should never rely on context
 * (e.g. .sidebar-first .component) for styling. This allows modules to be
 * placed throughout the theme with no risk of them breaking.
 *
 * If you find you need to change the look of a component depending on it's
 * context you should avoid using context based classes at all costs. Instead it
 * is better to add another "modifier" class to the component to alter the
 * styling. Again, this promotes reuse.
 *
 * Sub-components are the individual parts that make up a component. As a
 * general rule, adding a class to target a sub-component is a much better
 * option than using descendant selectors or element selectors. In many cases
 * sub-components can be made more reusable by making them components in their
 * own right, so they can then be used within other components.
 *
 * Almost everything that doesn't belong in base should be made a component.
 * Here's some common examples throughout Drupal:
 *
 * - Blocks
 * - Content Types - For example, you may have a generic node component that
 *      contains sub-components for the submitted by line and links. Specific
 *      components can then be created for each content type to style the
 *      specifics of each. Finally, by using entity view modes you can easily
 *      apply modifications based on the .node-[view-mode] classes.
 * - Forms - For instance the log in form.
 * - Views - Each views output style could be made into a component, the content
 *       of each row should be provided my a view mode styled by it's component
 *       CSS. Exposed filter forms, views pagers and other views elements are
 *       also good candidates for components.
 ******************************************************************************/
#search-block-form {
  float: right;
  padding-right: 10px;
}
#search-block-form .form-item-search-block-form input {
  width: 220px;
  height: 23px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding-left: 5px;
}
#search-block-form .form-submit {
  background: none repeat scroll 0 0 #fee18f;
  border: 1px solid #fff37b;
  text-transform: uppercase;
  width: 85px;
  color: #541c15;
  height: 25px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
#search-block-form .form-submit:hover {
  background: none repeat scroll 0 0 #236685;
  border: 1px solid #35a0d2;
  color: #FFFFFF;
}

aside.l-region--sidebar-first .block,
aside.l-region--sidebar-second .block {
  padding: 10px;
  background: url("/sites/all/themes/custom/boriana1/images/yellow_background_small.jpg") repeat-y center top transparent;
  border-bottom: 8px solid #fee18f;
  margin-bottom: 2em;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
}
aside.l-region--sidebar-first .block .block__title,
aside.l-region--sidebar-second .block .block__title {
  background-color: rgba(84, 28, 21, 0.6);
  color: white;
  text-align: center;
  border-bottom: 3px solid #ffd863;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

/* Transparent about block absolutely positioned in header */
.page-node-edit select#edit-field-topic-und {
  height: 120px !important;
}

body {
  background-color: white;
  margin-top: 0;
}

.site-logo img {
  padding-top: 50px;
  border: 0;
}

h2.site-slogan {
  color: #FFFFFF;
  font-size: small;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.submitted {
  color: #7c7a6e;
  font-style: italic;
  font-size: smaller;
}

blockquote {
  border-left: 5px solid #ffd863;
  color: #7c7a6e;
  padding-left: 2em;
}

/* Term links under content */
#tag-links {
  border-top: 1px dotted #7c7a6e;
  border-bottom: 1px dotted #7c7a6e;
  padding: 12px 0;
}

/* ShareThis buttons in links area*/
.links .sharethis {
  display: block;
  clear: both;
}
.links .sharethis .sharethis-buttons {
  margin: 0 2em;
}

.node--blog-post {
  border: 1px dotted #541c15;
  padding: 10px;
}
.node--blog-post .sharethis {
  border-bottom: 1px dotted #7c7a6e;
}

/* Breadcrumb */
ul.breadcrumb {
  list-style-type: none;
}
ul.breadcrumb li {
  display: inline;
}
ul.breadcrumb li:after {
  content: " / ";
}

/* Front page blog posts */
.view-recent-blog-posts .views-row {
  border: 1px dotted #541c15;
  padding: 10px;
  margin: 20px 0;
  overflow: hidden;
}
.view-recent-blog-posts .views-row .submitted {
  color: #541c15;
}

.node--blog-post .content {
  overflow: hidden;
}

/* Bio pages */
.field.field--name-field--photo {
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
}

/* How blog posts appear when they are teasers (when browsing the term lists, for example */
.node--blog-post.node--teaser {
  border: 1px dotted #541c15;
  padding: 10px;
  margin: 20px 0;
}

/* 404 page */
/* Float all the filter lists to form a 3-column layout */
.page-node-42 .block--views-level-tags-block,
.page-node-42 .block--views-topic-tags-block,
.page-node-42 .block--views-area-tags-block {
  float: left;
  width: 33%;
}

.page-node-42 .node__content {
  clear: both;
}

.l-region--navigation nav {
  position: relative;
  top: -220px;
}

header nav.block--system-main-menu ul.menu {
  display: inline;
  padding-top: 15px;
}
header nav.block--system-main-menu ul.menu li {
  float: left;
  list-style: none outside none;
  margin: 2px 4px 0 0;
}
header nav.block--system-main-menu ul.menu li a {
  background-color: #541c15;
  color: #FFFFFF;
  display: block;
  margin-top: 8px;
  padding: 6px 15px;
  text-decoration: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
header nav.block--system-main-menu ul.menu li a:hover, header nav.block--system-main-menu ul.menu li a.active-trail {
  color: #CCCCCC;
  border: 2px solid #ffd863;
}

.node--bio .field--name-field--image img {
  border-right: 4px solid #ffd863;
  border-bottom: 4px solid #ffd863;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
}
.node--bio .field--name-field--title {
  font-weight: bold;
  margin-bottom: 2em;
}
.node--bio .field--name-body {
  border-top: 1px dotted #7c7a6e;
  border-bottom: 1px dotted #7c7a6e;
}

.view-recent-blog-posts .views-row {
  padding-top: 25px;
}
.view-recent-blog-posts .views-field-title {
  font-size: 150%;
}
.view-recent-blog-posts .views-field-title a {
  color: #236685;
}

/* Recent comments block on front page */
.view-recent-comments .views-field-created {
  font-size: 0.9em;
  font-style: italic;
}

.view-recent-comments .views-field-title {
  font-size: 0.9em;
  font-style: italic;
}

.view-recent-comments .views-row {
  border-bottom: 1px solid #BBBBBB;
  padding: 1em 0;
}

/* This will apply to comments that are responses */
#comments .indented {
  background: none repeat scroll 0 0 #FFD863;
  padding-left: 25px;
  margin-left: 0;
}

.comment {
  padding-top: 10px;
  padding-left: 5px;
  background: #ffd863;
}
.comment .content {
  background: #EDEDED;
}

/*article.comment {
  border: 1px solid #B5B5B5;
  padding: 0.5em;
  margin-bottom: 0.5em;
}*/
.comment__info a.permalink {
  display: none;
}

.comment .bottom_left {
  background: url("/sites/all/themes/custom/boriana1/images/comments/bottom_left_corner.jpg") bottom left no-repeat #ededed;
  width: 70%;
  min-width: 100px;
}

.comment .bottom_right {
  background: url("/sites/all/themes/custom/boriana1/images/comments/bottom_right_corner.jpg") bottom right no-repeat;
}

.comment .top_left {
  background: url("/sites/all/themes/custom/boriana1/images/comments/top_left_corner.jpg") top left no-repeat;
}

.comment .top_right {
  background: url("/sites/all/themes/custom/boriana1/images/comments/top_right_corner.jpg") top right no-repeat;
  padding: 10px;
}

.comment .callout {
  padding: 2px 0px 10px 50px;
  background: url("/sites/all/themes/custom/boriana1/images/comments/bottom.jpg") 30px top no-repeat;
}
