
.view-recent-blog-posts {
  .views-row {
    padding-top: 25px;
  }
  
  .views-field-title{
    font-size: 150%;
    a {
      color: $dark-blue;
    }
  }
}


/* Recent comments block on front page */
.view-recent-comments .views-field-created {
    font-size: 0.9em;
    font-style: italic;
}
.view-recent-comments .views-field-title {
    font-size: 0.9em;
    font-style: italic;
}
.view-recent-comments .views-row {
    border-bottom: 1px solid #BBBBBB;
    padding: 1em 0;
}


