/*******************************************************************************
<<<<<<< HEAD
 * _base.scss
 *
 * Base styles define the default look for HTML and common Drupal elements.
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common Drupal elements such as form
 * items, collapsible fieldsets and messages should be included in this partial.
 *
 * The styleguide module (http://drupal.org/project/styleguide) gives you a good
 * overview of Drupal's common elements for styling. By setting a solid baseline
=======
 * _base.scss 

 * Base styles define the default look for HTML and common Drupal elements. 
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common Drupal elements such as form 
 * items, collapsible fieldsets and messages should be included in this partial.
 *
 * The styleguide module (http://drupal.org/project/styleguide) gives you a good
 * overview of Drupals common elements for styling. By setting a solid baseline
>>>>>>> sandbox/7.x-4.x
 * before adding any more specific customisations you ensure that as any new
 * features are added they will be correctly styled without any extra work.
 ******************************************************************************/


$font-color: #4a4b48; 
$background-color: #ffffff;
$brown-burgundy: #541c15;

$light-grey: #ece9da;
$meta-color: #7c7a6e;
$link-color: $brown-burgundy; //#b08c1e; 
$link-color-bright: #ef930f;

$medium-yellow: #fff37b;
$orange-yellow: #ffd863;

$blue: #35a0d2;
$dark-blue: #236685;


html {
  color: $font-color;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14px;
/*  font-family: Enriqueta,georgia,serif;*/
  line-height: 1.4;
}

/* Links */
a {
  color: $link-color;
}
a:link {
}
a:visited {
}
a:hover,
a:focus {
  color: $link-color-bright;
}
a:active {
}

/* Page titles */
h1 {
  color: $blue;
}
h2, h3 {
  color: $dark-blue;
}

/* Tables */
table.table-dotted {
  margin-top: 15px;
  
  caption {
    padding-bottom: 8px;
    font-size: larger;
  }
  
  th {
    font-weight: bold;
    border-bottom: 3px solid $dark-blue;
    background: none;
  }
  
  tr {
    border-bottom: 1px dotted $meta-color;
  }
  td {
    padding: 5px 10px;
  }
}
