body {
  background-color: $background-color;
  margin-top: 0;
}

.site-logo img{
  padding-top: 50px;
  border: 0;
}
h2.site-slogan {
  color: #FFFFFF;
  font-size: small;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.submitted {
  color: $meta-color;
  font-style: italic;
  font-size: smaller;
}

blockquote {
  border-left: 5px solid $orange-yellow;
  color: $meta-color;
  padding-left: 2em; 
}

/* Term links under content */
#tag-links {
  border-top: 1px dotted $meta-color;
  border-bottom: 1px dotted $meta-color;
  padding: 12px 0;
}

/* ShareThis buttons in links area*/
.links .sharethis {
  display: block;
  clear: both;
  
  .sharethis-buttons {
    margin: 0 2em;
  }
}


.node--blog-post {
  border: 1px dotted $brown-burgundy;
  padding: 10px;
  
  .sharethis {
    border-bottom: 1px dotted $meta-color;
  }
}



/* Breadcrumb */
ul.breadcrumb {
  list-style-type: none;
  
  li {
    display: inline;
  }
  li:after {
    content: " / ";
  }
}


/* Front page blog posts */
.view-recent-blog-posts .views-row {
  border: 1px dotted $brown-burgundy;
  padding: 10px;
  margin: 20px 0;
  overflow: hidden;
  
  .submitted {
    color: $link-color;
  }
}

.node--blog-post .content {
  overflow: hidden;  
}

/* Bio pages */
.field.field--name-field--photo {
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}


/* How blog posts appear when they are teasers (when browsing the term lists, for example */
.node--blog-post.node--teaser {
  border: 1px dotted $brown-burgundy;
  padding: 10px;
  margin: 20px 0;
}


/* 404 page */
/* Float all the filter lists to form a 3-column layout */
.page-node-42 .block--views-level-tags-block,
.page-node-42 .block--views-topic-tags-block,
.page-node-42 .block--views-area-tags-block {
  float: left;
  width: 33%;
}

.page-node-42 .node__content {
  clear: both;
}