/*******************************************************************************
 * _layout.scss
 *
 * The layout of the major regions (usually, but not necessarily Drupal regions)
 * that components will be placed within. Layout styles for the theme's
 * components should not be placed here and should instead be kept with the
 * relevant SCSS for that component.
 ******************************************************************************/
@import "susy";


// Susy variables
$vert-spacing-unit: 20px;
$horz-spacing-unit: 1em;

// Define Susy grid variables mobile first
$total-columns: 6;
$column-width: 4em;
$gutter-width: $horz-spacing-unit;  // the space between columns
$grid-padding: 5px;
$mobile: 6;
$mobile-breakpoint: 30em, $mobile;

$container-style: fluid;
$container-width: 1200px;

// Susy Media layouts
$tab: 8;
$tablet-breakpoint: 44em, $tab;

$desk: 16;
$desk-breakpoint: 60em, $desk;


header.l-header {
  height: 280px;
  background: url("/sites/all/themes/custom/boriana1/images/brown_background_small_1.png") no-repeat scroll left top transparent;
}

footer.l-footer .footer-social {
  height: 150px;
  background: url("/sites/all/themes/custom/boriana1/images/yellow_background_small.jpg") no-repeat center top transparent;  
}

footer.l-footer #block-block-4 {
  border-top: 8px solid $bright-yellow; 
}

footer.l-footer .block-twitter-pull {
  font-size: 0.85em;
  border-top: 8px solid $orange-yellow; 
  
  .views-field-created-time {
    color: $meta-color;
  }
  
  li {
    list-style: none outside none;
    padding: 10px 0 10px 30px;
    margin: 0 0 0 -30px;
    background: url("/sites/all/themes/custom/boriana1/images/twitter_icons/32/6.png") no-repeat 0 center transparent;
  }
}

.l-header,
.l-main,
.l-footer {
  @include container; // Define these elements as the grid containers.
  // @include susy-grid-background; // Show the columns for debugging.  
  margin-bottom: $vert-spacing-unit;
}

.page-node {
  .l-content {
//    @include span-columns(6,6);
//    width: 62%;
//    float: left;
//    margin-left: 1%;
//    margin-right: 1%;
  }
  
/*  .l-region--sidebar-second {
    @include span-columns(0,6);
  }
  
@include at-breakpoint($tablet-breakpoint) {
    .l-content {
      @include span-columns(6,8);
    }
    .l-region--sidebar-second {  @include span-columns(2,8); }
  }

  @include at-breakpoint($desk-breakpoint) {
    .l-content {
      @include span-columns(10,16);
    }
    .l-region--sidebar-second {  @include span-columns(4,16); }
  }*/
}
