@import "compass/css3";

.l-region--navigation nav {
  position: relative;
  top: -220px;
//  left:10px;
}

header nav.block--system-main-menu ul.menu {
  display: inline;
  padding-top: 15px;

  li {
    float: left;
    list-style: none outside none;
    margin: 2px 4px 0 0;
    
    a {
      background-color: $brown-burgundy;
      //border: 1px solid $brown-burgundy;
      color: #FFFFFF;
      display: block;
      margin-top: 8px;
      padding: 6px 15px;
      text-decoration: none;
      @include border-radius(8px);
    }
    
    a:hover, a.active-trail {
      color: #CCCCCC; // #DDDDDD
      border: 2px solid #ffd863;
    }
  }
}